.box {
  width: 150px;
  height: 100px;
  position: absolute;
}

.red {
  background: red;
  top: 30px;
}

.green {
  background: green;
  /* top: 105px; */
  opacity: .5;
}

.blue {
  background: blue;
  top: 220px;
}

.shifted {
  left: 160px;
}

#container {
  width: 500px;
  height: 400px;
  border: 1px solid;
  position: relative;
}